#main-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 20px auto;
        border-bottom: 5px solid $cor-primaria;
    }


    .servicos {
        margin: 0px auto;
        max-width: 1400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .servico {
            margin: 20px;
            padding: 20px;
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: start;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            transition: .5s;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.03);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            border-bottom: 5px solid rgba(255, 255, 255, 0.1);
            border-left: 5px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;

            img {
                width: 100%;
            }

            h2 {
                font-size: 1.2rem;
                color: $cor-primaria;
                text-align: left;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 768px) {
    .servicos {
        margin: 30px auto;
        max-width: 1400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        .servico {
            margin: 10px;
            padding: 20px;
            width: 300px;
            height: 400px;
            display: flex;
            justify-content: start;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            background: rgba(255, 255, 255, 0.03);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            border-bottom: 5px solid rgba(255, 255, 255, 0.1);
            border-left: 5px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            cursor: pointer;


            h2 {
                font-size: 1.5rem;
                color: $cor-primaria;
                text-align: center;
            }

            p {
                font-size: 1rem;
                color: $cor-cinza;
                text-align: center;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}